:root {
    --speed: 2s;
}

//Animation Fade in Front page 
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
//Animations up and down (trajectory) Front page 

@keyframes toUp {
    from {
        transform: translateY(200px);
    }
    to {
        transform: translateY(0px);
    }
}
@keyframes toDown {
    from {
        transform: translateY(-200px);
    }
    to {
        transform: translateY(0px);
    }
}
//animation rotate flowers 
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  //animation section titles 
  @keyframes title {
    from {
        transform: translateY(110%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
  }
  
  h2 {
  @media (max-width: 767px){  
    font-size: 2.5rem;
}
  }

.section_title, .section_title1, .section_title2 {
    display: inline-block;
    opacity: 0;
}

.anim_title {
    animation: title 800ms 200ms cubic-bezier(1,.1,.85,.77) forwards;
}

.anim_title2 {
    animation: title 800ms 350ms cubic-bezier(1,.1,.85,.77) forwards;
}

//animation logo movements
@keyframes animation-logo {
    0% {
        transform: translate(0px,0px)
    }
    10% {
        transform: translate(5px,10px)
    }
    20% {
        transform: translate(5px,15px)
    }
    30% {
        transform: translate(-12px,13px)
    }
    40% {
        transform: translate(0px,4px)
    }
    50% {
        transform: translate(-14px,-5px)
    }
    60% {
        transform: translate(2px,-15px)
    }
    70% {
        transform: translate(9px,-7px)
    }
    80% {
        transform: translate(5px,3px)
    }
    90% {
        transform: translate(-10px,-10px)
    }
    100% {
        transform: translate(0px,0px)
    }
}

//layout banner//
.banner {
    background-image: none;
    margin-bottom: 5px;
    position: relative;
    height: 100%;
    animation: toDown 1500ms 0s ease forwards, fadeIn 900ms 0s ease-in forwards;
    .banner_fallback {
        width: 100%;
        height: auto;
        position: absolute;
        margin-top: 0;
        z-index: -1;
    }
}

.banner__video {
    position: absolute;
    width: auto;
    height: auto;
    z-index: 0;
    animation: toDown 1500ms 0s ease forwards, fadeIn 900ms 0s ease-in forwards;
    @media (max-width: 767px){  
        display: none;
}
}

.banner img {
    @media (max-width: 767px){
        position: relative;
        right: 26%;
        width: 40%;
    }
}
.video, .banner{
    @media (max-width: 767px){
        width: 900px;
        height: auto;
        min-height: 500px;
    }
}
.banner__logo {
    display: flex;
	justify-content: center;
	align-items: center;
    margin-top: 2%;
	width: 100%;
    z-index: 1;
    position: sticky;
    top: 155px;
    opacity: 0;
    animation: toUp 1500ms 0ms ease forwards, fadeIn 900ms 0s ease-in forwards, animation-logo 5000ms 1500ms ease-in-out infinite;
}

//animation fade in et trajectory 
.story, #studio, .site-footer {
    animation: toUp 1500ms 0ms ease forwards, fadeIn 900ms 0s ease-in forwards;
}

.story p, #place p, #studio p {
    animation: toDown 1500ms 0s ease forwards, fadeIn 900ms 0s ease-in forwards;
}

// flowers rotation
.story h2::after, .story__article::after, #studio h2::before, #studio h2::after, .site-footer::before, .site-footer::after, .site-footer ul::after {
    animation: rotate var(--speed) linear infinite;
}

// Resize flower centers for rotation 
.story h2::after, .site-footer::before {
  transform-origin: 77px 77px;
}

.story__article::after {
    width: 188px;
    height: 188px;
}

#studio h2::before {
    width: 203px;
    height: 199px;
}

#studio h2::after {
    width: 109px;
    height: 109px;
}

.site-footer::after {
    width: 173px;
    height: 169px;
}

//Layout Oscar template parts 
#colophon {
    display: flex;
    flex-direction: column;
}

.oscar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 180px;
    @media (max-width: 767px){
       flex-direction: column ;
    }
}

.site-footer {
    padding-top: 0em;
}

.site-footer::before {
    position: absolute;
    left: 12em;
    top: 3em;
}

.site-footer::after {
    position: absolute;
    right: -3em;
    top: 1em;
}

.oscar h4 {
    background-image: url("../images/Bg_oscars.png");
    background-repeat: no-repeat;
    background-position: center;
    font-weight: 700;
    font-size: 2.7rem;
    line-height: 4rem;
    color: #fff5e9;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
    ;
    width: 52%;
    text-align: left;
    padding : 8rem 4rem 8rem 7rem;
    @media (max-width: 767px){
        font-size: 1.5rem;
        line-height: 2.2rem;
        padding : 3rem;
        background-size: contain;
        width: 100%; 
    }
}

.oscar img {
    width: 278px; 
    height: 129px;
    position: relative;
    bottom: 3em;
    right: 2em;
    @media (max-width: 767px) {
        width: 50%;
        height: 50%;
        margin: 5px auto;
    }
}

.site-footer ul li a {
    @media (max-width: 767px) {
        font-size: 0.8rem;
    }
}

//layout characters template parts

.main-character h3 {
    text-align: left;
    padding: 1em 1em;
    @media (max-width: 767px) {
        font-size: 26px;
        text-align: center;
    }
}
.story #characters h3 {
background-position: left; 
}

.swiper {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 70vw;
    margin: 0 auto;
    @media (max-width: 767px) {
        padding: 0;
        width: 70vw;
    }
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    @media (max-width: 767px) {
        max-width: 90%;
        width: 90%;
  }
}

  .swiper-slide img {
    display: block;
    width: 100%;
    @media (max-width: 767px) {
        max-width: 100%;
        width: 100%;
        position: relative;
        left: 70px;
    }
  }

  figcaption {
    @media (max-width: 767px) {
        text-align: right;;
    }
  }

  .story #characters div {
    @media (max-width: 767px) {
        flex:none;
    }
  }

  //layout clouds place  
  .little_cloud {
    filter:blur(0.8rem); 
    position: absolute;
    right: 35%;
    top: 77%;
    @media (max-width: 767px) {
        display: none;
    }
  }

  .big_cloud {
    filter:blur(0.7rem); 
    position: absolute;
    right: 5%;
    top: 67%;
    @media (max-width: 767px) {
        display: none;
    }
  }

  .story #place {
    background-image: url("../images/Studio_Koukaki-image_place.png");
  }

 //menu toggle 
 .main-navigation button {
    margin : 0 auto;
 }

.main-navigation .site-title {
    position: absolute;
    left: 37%;
    top: 28%;
    @media (max-width: 767px) {
        font-size: 14px;
        left: 25%;
    }
}
 
.site-title:hover {
    color:black;
}

 .toggle {
    display: block;
    width: 30px;
    height: 30px;
    margin: 30px auto 10px;
    padding: 38px 0px 0px 0px;
    position: relative;
    left: 45%;
    @media (max-width: 767px) {
    bottom: 19px;
    }
 }
  
 .toggle span:after,
.toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
.toggle span:after{
  top: 9px;
}
.toggle span {
  position: relative;
  display: block;
}

.toggle span,
.toggle span:after,
.toggle span:before {
  width: 100%;
  height: 1px;
  background-color: black;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

//menu on activation 
.toggle.on span {
  background-color: transparent;
}
.toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
.toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
.toggle.on + #fullscreenmenu {
  opacity: 1;
  visibility: visible;
  margin-top: 40px;
  @media (max-width: 767px) {
    margin-top: -10px;
    }
  }

 #fullscreenmenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 600px;
    background-color: #FFF5E9;
    visibility: hidden;
    padding: 50px 0px 50px 0px;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    overflow: hidden;
    .logo-mini {
        width: 150px; 
        height: auto;
        filter: drop-shadow(0 0 0.60rem #FF5C00); ;
    }
        a {
        font-size: 50px;
        font-weight: 400;
        line-height: 50px;
        @media (max-width: 920px) {
            font-size: 32px;
        }
    }
    a:hover {
        text-shadow: #FF5C00 1px 0 10px;
        color:black;
    }

    p {
        margin-bottom: -30px;
        margin-top: 45px;
        font-family: "Roboto Mono", monospace;
        font-size: 1rem;
        line-height: 1.5;
    }

    .cat {  
        position: absolute;
        width: 9%;
        left: 353px;
        top: 124px;
        animation : animation-logo 8000ms 300ms ease-in-out infinite;
    }
    .cat-1 {
        position: absolute;
        width: 7%;
        left: 98px;
        bottom: 31px;
        animation : animation-logo 8000ms 1500ms ease-in-out infinite;
    }
    .cat-2 {
        position: absolute;
        width: 8%;
        right: 170px;
        bottom:175px;
        animation : animation-logo 8000ms 1000ms ease-in-out infinite;
    }

    .flower {
        position: absolute;
        width: 4%;
        left: 248px;
        bottom: 201px;
    }
    .flower-1 {
        position: absolute;
        width: 22%;
        right: -156px;
        bottom: -169px;
    }
    .flower-2 {
        position: absolute;
        left: -55px;
   }
    .flower-3 {
    position: absolute;
    width: 4%;
    right: -29px;
    top: 297px;
    }
    .flower-4 {
    position: absolute;
    width: 12%;
    right: 212px;
    }

    .flower, .flower-1, .flower-2, .flower-3, .flower-4 {
    animation: rotate 7s linear infinite;
    }
 }

 //menu responsive 
 .cat, .cat-1, .cat-2, .flower, .flower-1, .flower-2, .flower-3, .flower-4 {
    @media (max-width: 767px) {
        display: none;
    }
 }