//layout video banner//
.banner {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.banner__video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    z-index: 0;
}

.banner__logo {
    display: flex;
	justify-content: center;
	align-items: center;
    margin-top: -10%;
	width: 80%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

//animation fleurs rotate 

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.story h2::after, .story__article::after, #studio h2::before, #studio h2::after, .site-footer::before, .site-footer::after {
    animation: rotate 10s infinite;
}