:root {
  --speed: 10s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes toUp {
  from {
    transform: translateY(200px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes toDown {
  from {
    transform: translateY(-200px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes title {
  from {
    transform: translateY(110%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
.section_title, .section_title1, .section_title2 {
  display: inline-block;
  opacity: 0;
}

.anim_title {
  animation: title 800ms 200ms cubic-bezier(1, 0.1, 0.85, 0.77) forwards;
}

.anim_title2 {
  animation: title 800ms 350ms cubic-bezier(1, 0.1, 0.85, 0.77) forwards;
}

@keyframes animation-logo {
  0% {
    transform: translate(0px, 0px);
  }
  10% {
    transform: translate(5px, 10px);
  }
  20% {
    transform: translate(5px, 15px);
  }
  30% {
    transform: translate(-12px, 13px);
  }
  40% {
    transform: translate(0px, 4px);
  }
  50% {
    transform: translate(-14px, -5px);
  }
  60% {
    transform: translate(2px, -15px);
  }
  70% {
    transform: translate(9px, -7px);
  }
  80% {
    transform: translate(5px, 3px);
  }
  90% {
    transform: translate(-10px, -10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.banner {
  background-image: none;
  position: relative;
  height: 100%;
  animation: toDown 1500ms 0s ease forwards, fadeIn 900ms 0s ease-in forwards;
}
.banner .banner_fallback {
  width: 100%;
  height: auto;
  position: absolute;
  margin-top: 0;
}

.banner__video {
  position: absolute;
  width: auto;
  height: auto;
  z-index: 0;
  animation: toDown 1500ms 0s ease forwards, fadeIn 900ms 0s ease-in forwards;
}

@media (max-width: 920px) {
  .video, .banner {
    width: 900px;
    height: auto;
    min-height: 500px;
  }
}

.banner__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  width: 100%;
  z-index: 1;
  position: sticky;
  top: 155px;
  opacity: 0;
  animation: toUp 1500ms 0ms ease forwards, fadeIn 900ms 0s ease-in forwards, animation-logo 5000ms 1500ms ease-in-out infinite;
}

.story, #studio, .site-footer {
  animation: toUp 1500ms 0ms ease forwards, fadeIn 900ms 0s ease-in forwards;
}

.story p, #place p, #studio p {
  animation: toDown 1500ms 0s ease forwards, fadeIn 900ms 0s ease-in forwards;
}

.story h2::after, .story__article::after, #studio h2::before, #studio h2::after, .site-footer::before, .site-footer::after, .site-footer ul::after {
  animation: rotate var(--speed) linear infinite;
}

.story h2::after, .site-footer::before {
  transform-origin: 77px 77px;
}

.story__article::after {
  width: 188px;
  height: 188px;
}

#studio h2::before {
  width: 203px;
  height: 199px;
}

#studio h2::after {
  width: 109px;
  height: 109px;
}

.site-footer::after {
  width: 173px;
  height: 169px;
}

#colophon {
  display: flex;
  flex-direction: column;
}

.oscar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 180px;
}

.site-footer {
  padding-top: 0em;
}

.site-footer::before {
  position: absolute;
  left: 12em;
  top: 3em;
}

.site-footer::after {
  position: absolute;
  right: -3em;
  top: 1em;
}

.oscar h4 {
  background-image: url("../images/Bg_oscars.png");
  background-repeat: no-repeat;
  background-position: center;
  font-weight: 700;
  font-size: 2.7rem;
  line-height: 4rem;
  color: #fff5e9;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
  width: 52%;
  text-align: left;
  padding: 8rem 4rem 8rem 7rem;
}
@media (max-width: 920px) {
  .oscar h4 {
    font-size: 1.8rem;
    line-height: 2.2rem;
    padding: 3rem;
    background-size: contain;
  }
}

.oscar img {
  width: 278px;
  height: 129px;
  position: relative;
  bottom: 3em;
  right: 2em;
}
@media (max-width: 920px) {
  .oscar img {
    width: 20%;
    height: 20%;
  }
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.little_cloud {
  filter: blur(0.8rem);
  position: absolute;
  right: 35%;
  top: 77%;
}

.big_cloud {
  filter: blur(0.7rem);
  position: absolute;
  right: 5%;
  top: 67%;
}

.story #place {
  background-image: url("../images/Studio_Koukaki-image_place.png");
}

.menu-toggle {
  position: relative;
  background-color: transparent;
  border: none;
  padding: 0;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.menu-toggle .line {
  display: block;
  width: 100%;
  height: 3px;
  margin-bottom: 5px;
  background-color: black;
  transform-origin: center;
}

/*# sourceMappingURL=stylechild.css.map */
